.header {
    background-image: url('../../assets/images/henry.png');
    background-size:contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    background-color: #ffff01;
  }
  